.wrapper_form {
  width: 100vw;
  height: 100vh;

  header {
    width: 100%;
    height: 50px;
    background-color: aqua;
    text-align: center;
    color: cadetblue;
  }

  .sign-in {
    width: 40%;
    margin: 20px auto;
  }
}
